.categories {
  position: fixed;
  top: 55px;
  left: 270px;
  right: 24px;
  display: flex;
  overflow-x: auto;
  gap: 12px;
  height: 56px;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-color: white;
  z-index: 100;
}

.categories button {
  border: none;
  padding: 7.6px 12px;
  border-radius: 8px;
  font: 500 14px Roboto, Arial;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.categories button:not(.category-selected):hover {
  background-color: rgb(229, 229, 229);
}

.category-selected {
  background-color: black;
  color: white;
}

@media (max-width: 449px) {
  .categories {
    left: 0;
    right: 0;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 449.02px) and (max-width: 792px) {
  .categories {
    left: 24px;
  }
}

@media (min-width: 792px) and (max-width: 1200px) {
  .categories {
    left: 96px;
  }
}
