p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 111px;
  padding-left: 270px;
  padding-right: 24px;
}

/* for small sidebar */
@media (max-width: 1200px) {
  body {
    padding-left: 96px;
  }
}

/* for hidden sidebar */
@media (min-width: 500px) and (max-width: 792px) {
  body {
    padding-left: 24px;
  }
}

/* for mobile */
@media (max-width: 449px) {
  body {
    padding-left: 2px;
    padding-right: 2px;
  }
}
