@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
  }

  .sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 10px;
  }

  .sidebar-link:hover,
  .sidebar-link-selected {
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
  }

  .sidebar-link-selected:hover {
    background-color: rgb(230, 230, 230);
  }

  .sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
  }

  .sidebar-link div {
    font-size: 10px;
  }

  .hidden,
  hr {
    display: none;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 228px;
    z-index: 200;
    overflow-y: auto;
    padding: 12px;
    scrollbar-width: none;
    scrollbar-color: #909090 transparent;
  }

  .sidebar:hover {
    scrollbar-width: thin;
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 180px;
    padding: 8px 12px;
  }

  .sidebar-link:hover,
  .sidebar-link-selected {
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
  }

  .sidebar-link-selected {
    font-weight: 500;
  }

  .sidebar-link-selected:hover {
    background-color: rgb(230, 230, 230);
  }

  .sidebar-link:active {
    background-color: rgb(220, 220, 220);
  }

  .sidebar-section-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    /* margin-bottom: 4px;
    margin-top: 8px; */
  }

  .not-clickable {
    padding: 8px;
  }

  .arrow {
    height: 16px;
    width: 16px;
    margin-left: 8px;
    margin-right: 0px;
  }

  .sidebar-link img {
    height: 24px;
    margin-right: 24px;
  }

  .sidebar-link span {
    font-size: 14px;
  }

  hr {
    border: none;
    height: 1px;
    background-color: rgb(229, 229, 229);
  }

  .subscriptions {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subscriptions img {
    border-radius: 20px;
  }

  .hidden2 {
    display: none;
  }
}

@media (max-width: 792px) {
  .sidebar {
    display: none;
  }
}
